# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-data-tables
pycryptodome
numpy
hyperlpr
torch
torchvision
opencv-contrib-python==3.4.15.55
strsimpy